.venv
__pycache__/
*.py[cod]
db.sqlite3
media/
staticfiles/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.DS_Store
*.coverage
*.migrations/
local_settings.py
env/
venv/
ENV/
env.bak/
venv.bak/
.env
config
