# Android/Gradle
*.iml
.gradle/
local.properties
/local.properties
/local.defaults.properties

# IntelliJ/Android Studio
.idea/
*.ipr
*.iws

# Build
/build/
app/release/
captures/
out/
.cxx/
.externalNativeBuild/

# Jetpack Compose
.compose-cache/
compose-compiler/
compose-compiler.log
compose-metrics/
compose-logs/
compose-report/

# Misc system files
.DS_Store
*.log
*.hprof
*.orig
*.rej
*.swp
*.swo
*.tmp
*.bak
*.local
*.user
*.apk
*.ap_*
*.dex
*.class
*.jar
*.war
*.ear

# Security/keystores
*.db
*.db-journal
*.keystore
*.jks
*.pem
*.key
*.p12
*.pfx
*.crt
*.der
*.srl
*.csr
*.pub

# VSCode / Sublime
*.sublime-workspace
*.sublime-project
.vscode/

# Firebase config
app/google-services.json